/* Lambdas */
.theme-bg {
	background-color: var(--theme-bg);
}
.otp-picker {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 14vw;
    width: 20vw;
    height: 20vw;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 4.6vw;

}
.theme-badge {
	padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    max-width: 29.71px;
    width: 29.71px;
    color: #000000;
}
.theme-badge-good {
	--background: var(--theme-badge-good);
}
.theme-badge-bad {
	--background: var(--theme-badge-bad);
}
.theme-badge-gc {
	--color: var(--theme-badge-good);
	color: var(--theme-badge-good);
}
.theme-badge-bc {
	--color: var(--theme-badge-bad);
	color: var(--theme-badge-bad);
}
.theme-object {
	margin-bottom: 3vh;
	max-height: 12vh;
}
.theme-alert {
}
.theme-content {
	--background: var(--theme-bg);
	--color: var(--theme-post-col);
}
.theme-input {
	width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 6vw;
	--padding-start: 3vw;
	--padding-bottom: 3vw;
    border-left: 6px solid #ff0000;
    border-bottom: 6px solid #00ff00;
    border-right: 6px solid #ffff00;
    border-top: 6px solid #ff00ff;
    font-weight: bolder;
	font-size: 4vw;
}

.theme-tab {
	--background: var(--theme-bg);
}

.theme-link {
	color: var(--theme-link);
	text-decoration: none;
}
.theme-link:visited {
	color: var(--theme-link);
}
.theme-link:active {
	color: var(--theme-link-active);
}
.theme-link:hover {
	color: var(--theme-link-hover);
}

.theme-toggle {
    width: 15vw;
    height: 6vw;
    --background-checked: var(--theme-toggle-bgchecked);
    --handle-background-checked: var(--theme-toggle-checked);
    --handle-background: var(--theme-toggle);
    --handle-height: 3vh;
    --handle-width: 3vh;
}
.theme-slider {
    
}

/* Fonts */
@font-face {
	src: url(/assets/fonts/comic.ttf);
	font-family: Font1;
}
@font-face {
	src: url(/assets/fonts/BAUHS93.ttf);
	font-family: Font2;
}
@font-face {
	src: url(/assets/fonts/CHILLER.TTF);
	font-family: Font3;
}

.theme-font-1 {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	font-family: Font1;
}
.theme-font-2 {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	font-family: Font2;
}
.theme-font-3 {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	font-family: Font3;
}
.theme-font-size {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 3.5vw;
}

.theme-header {
	background-color: var(--theme-header-col);
}

/* Button */
.theme-button {
	--background: #00ff00;
    background-color: #00ff00;
    color: #000000;
    --color: #000000;
    border-radius: 10vw;
    --border-radius: 10vw;
    font-family: var(--theme-button-font);
}

/* Page */
.theme-page {
	background-color: var(--theme-bg);
	justify-content: start !important;
}
.theme-page-center {
	background-color: var(--theme-bg);
	justify-content: center !important;
}
.theme-page-pad {
	padding: 4vw;
}

/* Text */
.theme-title {
	font-size: 8vw;
	padding: 4vw;
}
.theme-subtitle {
	font-size: 5vw;
}
.theme-splashtext {
	font-size: 5vw;
	justify-content: center;
}
.theme-font-pref {
	font-size: 4vw;
	font-family: var(--theme-font-pref);
}
.theme-text-1 {
	color: var(--theme-text-1);
}
.theme-text-2 {
	color: var(--theme-text-2);
}
.theme-text-3 {
	color: var(--theme-text-3);
}

.hafar-logo {
    font-size: 6.5vh;
    width: 6vh;
    height: 6vh;
}
.home-search {
    width: 72vw !important;
    --background: var(--theme-bg);
    border: none !important;
}
.row {
    padding-left: 4vw;
    padding-right: 4vw;
}