.hafar-post {
    color: var(--theme-post-col);
    min-height: 20vh;
    background-color: var(--theme-post-bg);
    text-align: start;
    box-shadow: -1vw 0px var(--theme-post-shadow);

    .hafar-header {
        padding-top: 1.5vw;
        height: 13.27vw;
        max-height: 13.27vw;
    }

    .hafar-avatar {
        background-color: red;
        width: 10vw;
        height: 10vw;
    }
    .hafar-btns {
        height: 100%;
        padding-top: 0.6vh;
        font-size: 5vw;
    }

    .hafar-badge {
        max-width: 29.71px;
        width: 29.71px;
        color: black;
    }

}